
@{
    ViewBag.Title = "CrearPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Publicacion</h1>

<form action="@Url.Action("CrearPost", "Post")" method="post">
    <div class="form-group">
        <input name="IdUsuario" type="number" class="form-control" placeholder="Id Usuario">
    </div>
    <div class="form-group">
        <input name="UrlImg" type="url" class="form-control" placeholder="URL de la imagen">
    </div>
    <div class="form-group">
        <input name="Descripcion" type="text" class="form-control" placeholder="Descripcion">
    </div>
    <button type="submit" class="btn btn-primary">Crear publicacion</button>
</form>

